/*----------------*/

.title {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 80px;
color: white;
}


.subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    color: white;
}

.button {
    width: 200px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.59);
}
.button:hover {
    transform: scale(1.1, 1.1);
    transition: .1s ease-in;
}



/*----------HOME-------*/
.container-home-outer {
    background-image: url(img/firstpage_bg.png);
    background-size: cover;
    background-position: center;
}
.nav__menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    border-top: 3px solid transparent;
}
.nav-link:hover {
    border-top: 3px solid #ff6033;
    transform: scale(1.1, 1.1);
    transition: .1s ease-in;
    color: gray;
}

.home__title {
    font-weight: 800;
    font-size: 60px;
    color: #262626;
    margin-top: 30%;
}
.home__subtitle {
    color: #424242;
}
.home__button { 
    margin-top: 2%;
    margin-bottom: 30%;
    background-color: #ff6033;   
}

/*---------ABOUT US-------*/

.container-about-outer {
    background-color: #00afaf;
}
.photo {
    object-fit: cover;
}
.about__title {
    color: white;
}
.about__subtitle {
    margin-top: 5%;
    color: white;
}

/*----------SERVICES-------*/
.container-services-outer {
    background-color: #70bfff;
    padding-top: 10%;
}

.our-services__menu {
    height: 400px;
}
.menu__item {
    height: 21.5%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.menu__item:hover {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.menu__item > p {
    width: 55%;
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}
.services__design {
    position: relative;
    margin: 10% 0;
}
.services__title {
    position: absolute;
    top: 30%;
    right: 0;
}

/*-------GALLERY-------*/

.gallery {
    background-color: #ffe92f;
    height: 1536px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    color: #262626;
    width: 315px;
}

.gallery__subtitle {
    color: #262626;
    width: 630px;
    margin: 3% 0;
    text-align: center;
}

.gallery__photoes {
    width: 100%;
    height: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1r;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas: 
    "photo1 photo1 photo1 photo1 photo2 photo2"
    "photo1 photo1 photo1 photo1 photo3 photo3"
    "photo4 photo4 photo4 photo5 photo5 photo5"
    "photo4 photo4 photo4 photo5 photo5 photo5";
}

.photo1 {
    grid-area: photo1;
}
.photo2 {
    grid-area: photo2;
}
.photo3 {
    grid-area: photo3;
}
.photo4 {
    grid-area: photo4;
}
.photo5 {
    grid-area: photo5;
}

.gallery__button {
    background-color: #5585a2;
    margin-top: 3%;
}

/*-------SUBSCRIBE-------*/

.subscribe {
    background-image: url(img/subscribe_bg.png);
    background-size: contain;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subscribe__form {
    width: 570px;
    height: 55px;
    border: 1px solid #424242;
    padding-left: 20px;
}

.subscribe__title {
    color: #262626;
    font-size: 40px;
}

.subscribe__subtitle {
    color: #262626;
    width: 570px;
    margin: 3% 0;
    font-weight: 300;
}

.subscribe__button {
    display: inline;
    margin-left: 30px;
    background-color: #96b92c;
}

/*-------BLOG-------*/
.blog {
    height: 864px;
    background-color: #b07cf7;
}
.blog__container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;

}
.blog__subtitle {
    margin: 4% 0;
    width: 570px;
    text-align: center;
}
.photo-container {
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: space-around;
}

.blog__photo1, .blog__photo2, .blog__photo3 {
    height: 100%;
    width: 30%;
    box-shadow: 2px 2px 10px;
    position: relative;
}
.blog__photo1:hover, .blog__photo2:hover, .blog__photo3:hover {
    transform: rotate(360deg);
    transition-duration: .8s;
}
.blog__photo1 {
    background-image: url("img/blog_photo1.png");
    background-size: 105% 108%;
    background-position: center;
}
.blog__photo2 {
    background-image: url("img/blog_photo2.png");
    background-size: 103% 104%;
    background-position: center;
}
.blog__photo3 {
    background-image: url("img/blog_photo3.png");
    background-size: 103% 104%;
    background-position: center;
}

.date {
    background: rgba(38, 38, 38, 0.5);
    position: absolute;
    top: 10%;
    left: 6%;
    height: 22%;
    padding-top: 2%;
    width: 20%;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 0.7;
    border-radius: 6px;
}
.date  span {
    font-weight: 800;
    font-size: 23px;
}

.text {
    width: 85%;
    position: absolute;
    left: 5%;
    bottom: 7%;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
}
.text span {
    font-weight: 300;
    font-size: 13px;
    color: #f4eefe;
}
.blog__button {
    margin-top: 5%;
    background-color: #f72b3b;
}
button:hover {
    transform: scale(1.2, 1.2);
    transition-duration: .5s;
}

/*--------CONTACT----------*/
.contact {
    background-image: url(img/contact_bg.png);
    background-size: 100% 100% 100% 100%;
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
}
.contact__title {
margin-top: 95px;
color: #262626;
width: 370px;
}
.contact__subtitle {
    color: #262626;
    margin: 3% 0;
    width: 370px;
}

.contact__form {
    display: flex;
    height: 450px;
    width: 100%;
}
.form__container {
    width: 440px;
    height: 500px;
    padding-right: 3%;
    align-self: flex-start;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 12fr;
    grid-gap: 3.3%;
    height: 100%;
    width: 500px;
}
.form__field {
    background-color: rgba(0, 196, 196, .4);
    padding-left: 3%;
    border: none;
    color: white;
    resize: none;
}
.form__field::placeholder {
    font-family: "Raleway" sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ecf9f9;
}
.form__field:focus {
    background-color: rgba(0, 196, 196, 1);
    border-left: 4px solid #355b82;
}
.form__contacts {
    width: 330px;
    height: 175px;
    margin-left: 170px;
}
.contact__type {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.contact__name {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 3%;
}

/*------FOOTER-------*/
footer {
    background-color: #262626;
    height: 90px;
}
.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__text {
    color: #7e7e7e;
}
.footer__text span {
    color: #ff2b58;
    font-weight: 700;
}
